@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.hero {
    @media (min-width: 640px) {
        @include desktopWrap;
        @include sectionMargin;   
    }
    height: fit-content;
    
    h1 {
        font-size: var(--font-size-heading2);
        font-weight: 400;
    }
    @media (max-width: 640px) {
        @include mobileWrap;
        display: flex;
        flex-direction: column;
        h1 {
            font-size: var(--font-size-heading3);
        }
    }
}

