@mixin desktopWrap {
    margin: 0 9%;
}
@mixin laptopWrap {
    margin: 0 1.5rem 4rem 1.5rem;
}
@mixin mobileWrap {
    margin: 0 0.75rem 2rem 0.75rem;
}
/* --- MARGIN SET FOR EACH SECTION */
@mixin sectionMargin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@mixin titleAboutsx {
    font-size: 3vw;
    font-weight: bolder;
}
@mixin titleAboutlg {
    font-size: 1.3vw;
    font-weight: 600;
}
@mixin contentAboutlg {
    font-size: 1.15vw;
    font-weight: 600;
}