@import './variables.scss';

/* --- PAGE MARGIN FOR DESKTOP DEVICES */
@mixin desktop-wrap {
    margin: 0 9%;
}
/* --- PAGE MARGIN FOR LAPTOP DEVICES */
@mixin laptop-wrap {
    margin: 0 1.5rem 4rem 1.5rem;
}
/* --- PAGE MARGIN FOR MOBILE DEVICES */
@mixin mobile-wrap {
    margin: 0 0.75rem 2rem 0.75rem;
}
/* --- MARGIN SET FOR EACH SECTION */
@mixin section-margin {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/* --- PRESET FONT STYLING */
@mixin font-content-title1 {
    font-size: var(--font-size-base1);
    font-weight: 600;
}
@mixin font-content-title2 {
    font-size: var(--font-size-base2);
    font-weight: 500;
}
@mixin font-content-title3 {
    font-size: var(--font-size-base3);
    font-weight: 500;
}

@mixin font-content {
    font-size: var(--font-size-heading1);
    font-weight: 400;
}

@mixin font-content-mobile {
    font-size: var(--font-size-mobile);
    font-weight: 400;
}