:root {
    /* --- THEME COLORS FOR EACH RELOAD */
    --theme1-bg-color: #d47870;
    --theme1-text-color: #3C1C19;
 
    --theme2-bg-color: #C3BEB0;
    --theme2-text-color: #000000;
 
    --theme3-bg-color: #131608;
    --theme3-text-color: #BBD95C;
 
    --theme4-bg-color: #C3BEB0;
    --theme4-text-color: #000000;
 
    --theme5-bg-color: #1E1E1E;
    --theme5-text-color: #D8DCE8;
}
 