@import '../../styles/mixins.scss';

.about {
    @include desktopWrap;  
    
    @media (min-width: 640px) {
        p:first-child {
            @include titleAboutlg;
            margin: 4rem 0rem 0rem 0;
        }

        p:nth-child(2) {
            font-size: calc(3rem + 5*(100vw - 960px)/960);
            font-weight: 400;
        }
    }
   
    @media (max-width: 640px) {
        @include mobileWrap;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p:first-child {
            @include titleAboutsx;
            margin: 1rem 0rem 1.5rem 0;
        }

        p:nth-child(2) {
            font-size: 1.25rem;
            font-weight: 400;
        }

    }
}

