@import '../../styles/mixins.scss';

.about {
    @include desktop-wrap;  
    
    @media (min-width: 1240px) {
        p:first-child {
            @include font-content-title2;
            margin: 4rem 0rem 0rem 0;
        }

        p:nth-child(2) {
            @include font-content;
        }
    }

    @media (max-width: 1200px) {
        @include laptop-wrap;
        p:first-child {
            @include font-content-title1;
        }
        p:nth-child(2) {
            @include font-content;
        }
    }
   
    @media (max-width: 640px) {
        @include mobile-wrap;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p:first-child {
            margin: 1rem 0rem 1.5rem 0;
        }

        p:nth-child(2) {
            @include font-content-mobile;
        }
    }
}

