@import '../../styles/mixins.scss';

.about {
    @include pageWrap;
    display: flex;
    justify-content: space-between;
    p:first-child {
        margin: 1rem 0 2rem 0;
        font-size: 3vw;
    }
    p:nth-child(2) {
        font-size: 6vw;
        font-weight: 400;
    }
    @media (max-width: 640px) {
        @include mobileWrap;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

