@import '../../styles/mixins.scss';

.spotlight {
    @include desktop-wrap;
    @include section-margin;
    @media (min-width: 640px) {
        & > p {
            @include font-content-title1;
        }
    }

    @media (max-width: 640px) {
        @include mobile-wrap;
        & > p {
            margin-bottom: 2rem;
            @include font-content;
        }
    }

    .all-projects {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        @include font-content;
        text-decoration: none;
        color: var(--theme1-text-color);

        .icon {
            font-size: 1.25rem;
        }
    }
}

