@import '../../styles/mixins.scss';

.spotlight {
    @include section-margin;
    @media (min-width: 1240px) {
        @include desktop-wrap;
        & > p {
            margin-bottom: 2rem;
            @include font-content-title2;
        }
    }

    @media (max-width: 1240px) {
        @include laptop-wrap;
        & > p {
            margin-bottom: 2rem;
            @include font-content-title1;
        }
    }
    
    @media (max-width: 640px) {
        @include mobile-wrap;
        & > p {
            margin-bottom: 2rem;
            @include font-content-title1;
        }
    }

    .all-projects {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-decoration: none;
        color: var(--theme1-text-color);
        @include font-content-title1;
        @media (max-width: 640px) {
            @include font-content-mobile;
        }

        .icon {
            @include font-content-title2;
        }
    }
}

