@import '../../styles/mixins.scss';

.spotlight {
    @include pageWrap;
    height: 50vh;
    background-color: red;
    
    @media (min-width: 640px) {
        
    }

    @media (max-width: 640px) {
        @include mobileWrap;
        & > p {
            margin-bottom: 1rem;
            @include titleAboutsx;
        }

        .card {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid var(--theme1-text-color);

            // --- STYLING FOR PROJECT NAME
            p:first-child {
                font-size: 6vw;
                font-weight: 400;
            }
        }
    }
}

