@import '../Spotlight.scss';

.card {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--theme1-text-color);

    // --- STYLING FOR PROJECT NAME
    p {
        padding: 0.75rem 0;
        text-transform: uppercase;
    }
    a {
        @include font-content-title2;
        display: flex;
        align-items: center;
        color: var(--theme1-text-color);
    }

    @media (min-width: 1240px) {
        p {
            @include font-content-title2;
        }
    }

    
    @media (max-width: 1240px) {
        p {
            @include font-content;
        }
    }

    @media (max-width: 640px) {
        p {
            @include font-content-title1;
        }
    }
}