@import url(./styles/variables.scss);

body {
  font-size: 82.5%;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--theme1-bg-color);
  color: var(--theme1-text-color);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
