@import '../../styles/mixins.scss';

.nav {
  @include pageWrap;
  height: 15vh;
  // background-color: green;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000; /* Ensure nav is above the overlay */
}

.nav > .nav-header {
  flex: 1;
}

.nav-title {
  font-size: 2.5vw;
  font-weight: 600;
}

.nav > .nav-list {
  display: flex;
  gap: 2rem;
}

.nav > .nav-list > li {
  list-style-type: none;
}

.nav > .nav-list > li a {
  text-decoration: none;
  color: var(--theme1-text-color);
  cursor: pointer;
}

.nav > #nav-check {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--theme1-bg-color);
  display: none;
  z-index: 999; /* Ensure the overlay is behind the nav */
}

@media (max-width: 640px) {
  .nav {
    @include mobileWrap;
    height: fit-content;
    position: relative;
    background-color: green;
  
    .nav-title {
      font-size: 1.75rem;
      font-weight: bolder;
    }
    .nav-btn {
      display: inline-block;
      margin: 0.5rem 0;
    }
  }

  .nav > .nav-btn > label {
    display: inline-block;
  }
  
  .nav > .nav-btn > label {
    background-color: var(--theme1-text-color);
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: 0.4s ease-in-out;
  }

  .nav > .nav-list {
    position: fixed;
    top: 40px;
    height: 0;
    left: 1rem;
    gap: 0rem;
  }

  .nav > ul {
    position: absolute;
    margin-top: 5rem;
    flex-direction: column;
  }

  .nav > .nav-list > li {
    margin-top: 2rem;
  }

  .nav > #nav-check:checked ~ .nav-list {
    height: fit-content;
    font-size: 2.25rem;
  }

  #nav-check:checked ~ .overlay {
    display: block;
    z-index: -1;
  }

  .nav-title {
    color: var(--theme1-text-color);
  }

  .nav.checked > .nav-btn > label {
    border-radius: 0%;
  }
}
