nav {
    // background-color: red;
    ul {
        // background-color: green;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
    }

    @media (max-width: 1200px) {
        background-color: red;
    }

    .time {
        background-color: yellow;
        height: 100px;
        width: 100px;
    }

}